h1 {
    font-family:Calibri;
    font-style: bold;  
    text-shadow: 5px 10px 15px;
}

.writer {
    font-size: 10;
    font-style: Italic;
    background-color: khaki;
    color:red;
}

span {
    font-weight: bold;
    font-style:italic;
    color: green;
    
}

.content {
    font-size: 15;
    font-family:"Serif";
    font-style: normal;
}